/*.fond {

	border: 1px solid #dddddd;
	background: #eeeeee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 100% top repeat-x;
	color: #333333;

}*/

.ui-widget-content{
	border:0px !important;
}

body {
	line-height: 2;
}

#no-more-tables td:before {
	top: 0px;
}

.tableaufor {

	border: 1px solid black;
	margin-top: -1px;
	margin-left:-1px;
	margin-right: 1px;
	border-left: 1px solid black;
}


.adr{
	width:90%; 
	height:27px;
	margin-left: 21px;
}

.villeStyle{
height:27px;
display: inline-flex;
vertical-align: middle;
padding-bottom: 46px;
}

.plus{
	float: right;
	display: inline-flex;
	vertical-align: middle;
	margin-bottom: 10px;
	
}

.auto-text-area{
        min-height: 20px; /* for default height */
        overflow: hidden;
        resize: none;
        padding: 4px;
        font-size: 14px;
        border: 1px solid #000;
      }
	  
input[type=checkbox] {
  transform: scale(2);
  margin: 20px;
}


.no-close .ui-dialog-titlebar-close {
  display: none;
}

.auto-text-area{
	min-height: 100px;
}




